/* version 0.1.0 */

$font-size: 13px;

body {
    background-color: #fbfbfb;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: $font-size;
    line-height: 1.6em;
    color: #3f3f3f;
    padding: 40px 20px;
    margin: 0;
}

a {
  color: #3f3f3f;
  text-decoration: none;

  &:hover {
    color: #3f3f3f;
    border-bottom: 1px solid #7f7f7f;
    padding-bottom: 2px;
  }

}

h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
}

#container {
	margin: 0 auto;
	padding: 0;
}

header.main {
    margin: 60px auto 100px auto;
    padding: 0 20px;
    text-align: center;
}

#posts {
	margin: 0 auto;
  clear: both;
}

.post {
	margin: 0 20px 40px 20px;
	float: left;
	min-width: 260px;

  iframe {
    width: 100%;
  }

  header {
    color: #b4b4b4;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;    
  }

}



// quote posts

.quote {
  background-color: #f2f2f2;
  padding: 10px;
}




// chat posts

.chat {
  background-color: #f2f2f2;
  padding: 10px;

  ul {
    margin: 0;
    padding: 0
  }

  li {
    list-style: none;
  }

}




// link posts

.link {
  background-color: #f2f2f2;
  padding: 10px;

  p {
    margin: 0;
  }

}




// columns

.single {
	width: 260px;
	float: left;

  img {
    width: 260px;
    line-height: 0px;
    display: block;
  }

}

.double {
	width: 560px;
	float: left;

  img {
    width: 560px;
    display: block;
  }

}

.triple {
    max-width: 620px;
    float: left;

    img {
      max-width: 620px;
      display: block;
    }

}




.navigation {
  border-top: 1px solid #c7c7c7;
  padding: 10px 0 0 0;
}

.fade {
  display: none;
}



/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}




// iPad

@media screen and (max-width: 656px) {

  .double {
    width: 260px;

    img {
      width: 260px;
    }
  }

}