include ../types/text.pug
include ../types/photo.pug
include ../types/panorama.pug
include ../types/photoset.pug
include ../types/quote.pug
include ../types/link.pug
include ../types/chat.pug
include ../types/video.pug
include ../types/audio.pug