doctype html
include ./partials/intro.pug
html
  head
    include ./partials/head.pug

  body

    .grid
      | {block:Posts}
      include ./partials/types.pug
      | {/block:Posts}

    include ./partials/pagination.pug


    script(src='http://tumblr.dev/dist/lib.js')