@import 'partials/variables'

*
  box-sizing border-box

body
  background $background


.grid
  width 90%
  margin 0 auto
  background cyan

.post
  width 25%
  background yellow
  float left
  padding 20px

  img
    max-width 100%


.photoset
  display none