| {block:Panorama}

li.post.panorama
  | {LinkOpenTag}
  img(src="{PhotoURL-Panorama}", alt="{PhotoAlt}")
  | {LinkCloseTag}

  | {block:Caption}
  .caption {Caption}
  | {/block:Caption}

| {/block:Panorama}